<h2>Editar Paciente</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :Telefono %><br />
  <%= f.text_field :Telephone, :autofocus => true %></div>

  <div><%= f.label :Email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :Password %> <i>(Dejarlo en blanco si no se desea cambiar)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :Confirmar_Password %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :Password_Actual%> <i>(Necesitamos tu password actual para confirmar los cambios)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Actualizar" %></div>
<% end %>

<h3>Cancelar mi Cuenta</h3>

<p>Inconforme? <%= button_to "Cancelar mi Cuenta", registration_path(resource_name), :data => { :confirm => "Estas Seguro?" }, :method => :delete %></p>

<%= link_to "Atras", :back %>
