<%= form_for(@citum) do |f| %>
  <% if @citum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citum.errors.count, "error") %> prohibited this citum from being saved:</h2>

      <ul>
      <% @citum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Cedula_Paciente %><br />
    <%= f.text_field :cedulaPaciente, :autofocus => true%>
  </div>
  <div class="field">
    <%= f.label :Cedula_Doctor %><br />
    <%= f.text_field :cedulaDoctor %>
  </div>
  <div class="field">
    <%= f.label :Fecha %><br />
    <%= f.datetime_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
