<h1>Listing cita</h1>

<table>
  <tr>
    <th>Cedulapaciente</th>
    <th>Ceduladoctor</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cita.each do |citum| %>
  <tr>
    <td><%= citum.cedulaPaciente %></td>
    <td><%= citum.cedulaDoctor %></td>
    <td><%= citum.fecha %></td>
    <td><%= link_to 'Show', citum %></td>
    <td><%= link_to 'Edit', edit_citum_path(citum) %></td>
    <td><%= link_to 'Destroy', citum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Citum', new_citum_path %>
