<p id="notice"><%= notice %></p>

<p>
  <b>Cedula Paciente:</b>
  <%= @citum.cedulaPaciente %>
</p>

<p>
  <b>Cedula Doctor:</b>
  <%= @citum.cedulaDoctor %>
</p>

<p>
  <b>Fecha:</b>
  <%= @citum.fecha %>
</p>


<%= link_to 'Editar', edit_citum_path(@citum) %> |
<%= link_to 'Atras', cita_path %>
