<!DOCTYPE html>
<html>
    <head>
        <title> Health S.O.S </title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <script src="lib/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="controller.js" type="text/javascript"></script>
    </head>
    <body>

        <div id="page">

            <header>
                <!--header-->
                <h1> Health S.O.S </h1>
                <section id="menuRegister">
                    <div id="linkClose" class="eachItemMenu"><p>Salir</p></div>
                </section>
            </header>

            <p class="navbar-text pull-right">
			  <% if admin_signed_in? %>
			    <strong><%= current_admin.email %></strong>.|
			    <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
			  <% else %>
			    <%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
			  <% end %>

            <div id="logo">
                <%= image_tag "Logo.jpg" %>
            </div>

            <div id="separator">
                <hr/>
            </div>


            <div style="text-align:centert">
                <div style="text-align: justify">


                    <div class="container">

                        <ul id="nav">
                            <li><%= link_to image_tag("t1.png")+"Editar perfil", edit_admin_registration_path %></li>
                            <li><a href="#" class="sub" tabindex="1"><%=image_tag "t3.png"%>Gestionar Medico</a><%=image_tag "up.gif"%>
                                <ul>
                                    <li><%= link_to image_tag("empty.gif")+"Tabla General", root_path %></li>
                                    <li><%= link_to image_tag("empty.gif")+"Buscar", root_path %>
                                </ul>
                            </li>
                            <li><a href="#" class="sub" tabindex="1"><%=image_tag "t3.png"%>Gestionar Paciente</a><%=image_tag "up.gif"%>
                                <ul>
                                    <li><%= link_to image_tag("empty.gif")+"Tabla General", Patients_path(@patients) %></li>
                                    <li><%= link_to image_tag("empty.gif")+"Buscar", root_path %>
                                </ul>
                            </li>
                            <li><a href="#" class="sub" tabindex="1"><%=image_tag "t3.png"%>Gestionar Admin</a><%=image_tag "up.gif"%>
                                <ul>
                                    <li><%= link_to image_tag("empty.gif")+"Tabla General", root_path %></li>
                                    <li><%= link_to image_tag("empty.gif")+"Buscar", root_path %>
                                </ul>
                            </li>
                        </ul>

                        <div id="text2">
                            <article>
                                <h4>¡Bienvenido Administrador!</h4>
                                <p>En este espacio podrá editar sus datos personales, gestionar los datos de los médicos,</p>
                                <p>gestionar los datos de los pacientes y asignar privilegios a otros administradores.</p>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>