<!DOCTYPE html>
<html>
<head>
  <title>HealthSOS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="navbar-text pull-left">
  <% if patient_signed_in? %>
    <strong><%= current_patient.email %></strong>
     <div id="linkClose" class="eachItemMenu"><%= link_to "Salir", destroy_patient_session_path, method: :delete %></div>
  <% else %>
    <% if admin_signed_in? %>

    <% else %>
      <div id="linkRegister" class="eachItemMenu"><%= link_to "Registrarse", new_patient_registration_path, :class => 'navbar-link'  %></div>
      <div id="linkLogin" class="eachItemMenu"><%= link_to "Login", new_patient_session_path, :class => 'navbar-link'  %></div>
    <% end %>
  <% end %>

<% if notice %>
	<p class="alert alert-notice"><%= notice %></p>
<% end %>

<% if notice %>
	<p class="alert alert-error"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
